body{
  box-sizing:border-box ;
  margin: 0;
  padding: 0;
}

.view{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chats{
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 90% ;
  background-color: lightblue;
  overflow: auto;
}

.textbox{
  height: 10%;
  width: 99%;
  border: 1px solid blueviolet;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.textbox > textarea{
  height: 85%;
  width: 90%;
  outline: none;
  resize: none;
}

.bubble{
  margin: 10px;
  position: relative;
  margin-top: 50px;
}

.rxTextBubble{
  position: absolute;
  left: 20px;
  height: fit-content;
  width: fit-content;
  max-width: 200px;
  border-radius: 5px;
  padding: 2px;
  overflow-wrap: break-word ;
  background-color: rgb(53, 120, 207);
}

.txTextBubble{
  position: absolute;
  right: 20px;
  height: fit-content;
  width: fit-content;
  max-width: 200px;
  border-radius: 5px;
  padding: 2px;
  overflow-wrap: break-word ;
  background-color: lightseagreen;

}

